# --- Git ---
.git/
.gitignore
.gitmodules

# --- Environnements Python ---
.venv/
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# --- IDE & outils de dev ---
.idea/
.vscode/

# --- Secrets & variables d'environnement ---
.env
.env.local

# --- Données lourdes ou générées ---
data/
db/
outputs/
logs/
tmp/
notebooks/
.notebooks/
.ipynb_checkpoints/

# --- Infra ---
infra/
