# ===============================
# PYTHON
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# ===============================
# ENVIRONNEMENTS VIRTUELS
# ===============================
.venv/
env/
venv/
.env
.env.*

# ===============================
# FICHIERS DE CONFIGURATION SENSIBLES
# ===============================
*.env
.streamlit/secrets.toml
kaggle.json

# ===============================
# DONNÉES / SORTIES
# ===============================
*.csv
*.zip
*.txt
*.tsv
*.xls*
*.parquet
*.h5
*.db
*.sqlite3
data/homepedia.db
mongo_dump_homepedia/
mongo_dump_homepedia.zip
data/raw/
data/processed/*
outputs/*
!outputs/.gitkeep

# ===============================
# NOTEBOOKS JUPYTER
# ===============================
.ipynb_checkpoints/
*.ipynb_checkpoints

# ===============================
# LOGS
# ===============================
*.log
logs/

# ===============================
# ÉDITEURS / OS
# ===============================
.vscode/
.DS_Store
Thumbs.db

# ===============================
# MONGODB / DONNÉES LOCALES
# ===============================
mongo_data/
mongo_data/.mongodb/
mongo_data/WiredTiger*
mongo_data/journal/
*.wt
